.primary-color {
  color: #187b1b;
}

.secondary-color {
  color: #87c75c;
}

.primary-bg {
  background-color: #187b1b;
}

.secondary-bg {
  background-color: #87c75c;
}

.gray-bg {
  background-color: #f3f5f8;
}